## Дашборд для Яндекс.Дзен

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# коннектимся с базой
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net', # хост
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

In [3]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

In [4]:
engine = create_engine(connection_string)

In [5]:
# выгружаем данные 
query = '''
           SELECT *
           FROM dash_visits
        '''

In [6]:
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [7]:
# делаем запрос sql
dash_visits.to_csv('dash_visits.csv', index=False)

In [8]:
# проверяем корректность работы. 
dash_visits.sample(5)

,record_id,item_topic,source_topic,age_segment,dt,visits
7625,1048221,Интересные факты,Политика,41-45,2019-09-24 18:54:00,2
1566,1042163,Дети,Интерьеры,18-25,2019-09-24 18:59:00,5
13087,1053684,Культура,Спорт,45+,2019-09-24 18:58:00,1
861,1041458,Деньги,Россия,26-30,2019-09-24 19:00:00,12
2853,1043450,Женская психология,Одежда,18-25,2019-09-24 18:32:00,2

## Вывод

Мы получили данные и записали их файл - dash_visits.csv. Как правило далее мы бы провели проверку в данных на наличие: дубликатов, пропусков, аномалий, но в данном случае подразумевается, что данные чистые и мы можем сразу приступить к процессу автоматизации.

https://public.tableau.com/app/profile/tim21051960/viz/Dzen_16626510923210/Yandex_Dzen - ссылка на dashboard.